<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">


<body>
<h2>File Upload Page</h2>

<form method="post" enctype="multipart/form-data" action="/upload/new">
  <input class="form-control" size="20" type="file" name="file" accept=".xls,.xlsx,.pdf,.csv" required />
  <button class="btn btn-primary" type="submit">Upload</button>
<!--  <div class="col-sm-offset-2 col-sm-10">-->
<!--    <a class="btn btn-primary" th:href="@{/upload/view}">Upload File</a>-->
<!--  </div>-->
</form>

</body>
</html>
